*,h1,h2,h3,h4,h5,h6,p,ul,section,article,img{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.home-viewport {
    background-color: rgba(0, 255, 255, 0.406);
}

/* navigation bar css  */
/* brand logo  */
.brand-logo a{
    display: inline-block;
}

.brand-logo,.navbar-list {
    display: inline;
}

.nav-bar ul li{

    list-style-type: none;
    display: inline-block;
    
}

.brand-logo a,.nav-bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    }
.nav-bar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.navbar-list {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

/* homepage banner  */
.banner-img-container {
    position: relative;
}
.banner-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}
.banner-text {
    line-height: 50px;
    font-size: 25px;
    letter-spacing: 3px;
}
.banner-text span {
    color: rgba(165, 42, 42, 0.742);
    font-weight: 800;
}
.banner-title {
    color: black;
    font-size: 40px;
      font-weight: 900;
}
/* banner image  */
.banner-image {
    margin-top: -100px;
    width: 90%;
    height: auto;
}
.banner-image img {
    width: 100%;
}

/* card-bottom */
.card-bottom {
    width: 280px;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    background-color: white;
    padding: 20px 45px 20px 15px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: -23%;
}
.card-text {
    color: gray;
    line-height: 30px;
}
.join-btn a {
    text-decoration: none;
    color: white;

}
.join-btn {
    text-align: center;
    background-color: sienna;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    width: 120px;
    margin-top: 10px;
}
/* body container  */
.body-container {
    margin: 150px 15%;
}
/* finest-option */
.finest-option-text-container div{
    /* margin-top: 150px; */
   
}
.finest-option-text {
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    }
.finest-option-title {
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

.finest-option-title span {
    color: sienna;
}

/* img-cards  */
.img-cards {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.img-card img {
    border-radius: 20px;
}
.img-card h4{
    margin-top: 10px;
    font-size: 30px;
    color: brown;
    text-align: center;
}
/* <!-- styles copied from finest optins --> */
/* globally accepted  */

/* .globally-cards {
position: relative;
} */
.globally-card {
    position: relative;

}
.globally-card-img {
    max-width: 800px;
    max-height: 400px;
   
}
.globally-card-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.img-card-text a {
    color:  white;
    text-decoration: none;
    text-align: center;
    /* background-color: sienna; */
    border: 2px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 25px;
    width: 250px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
}
.img-card-text {
    position: absolute;
    text-align: center;
    top: 33%;
    left: 20%;
   
    
}
.img-card-text h3 {
    font-weight: 700;
    font-size: 25px;

}


/* vlog  */

.vlog-container {
    display: flex;
}
.vlog-title {
    margin: 20px;
}
.vlog-title span {
    color: brown;
}
.latest-vlog-link {
    
    
    text-decoration: none;
    color: tomato;
}
.vlog-text {
    text-align: left;
    width: 90%;
   
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 0 10px;
}
.vlog-text p,a {
  float: left;
  text-align: left !important;
}
/* why-choose-us */
.why-choose-us {
    text-align: center;
  
    width: 90%;
   
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 0 10px;
}
.why-choose-us-title {
    margin: 20px;
}
.why-choose-us-title span {
    color: sienna;
}

/* why-choose-us-cards */
.why-choose-us-cards {
    display: flex;
    justify-content: space-between;
    
}

.why-choose-us-card {
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.876);
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 350px;
    max-width: 80%;
    padding: 20px;
    margin:20px;
    
}
.why-choose-us-card h3{
    margin: 30px auto;
    color: sienna;
    font-weight: 700;
    font-size: 25px;
}
.why-choose-us-card p{
    margin: 30px auto;
    letter-spacing: 1.5px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
}

.card-icon {
    position: absolute;
    top: -8px;
    left: 185px;
}   


/* line css  */
.line {
    border: 1px solid gray;
    width: 5%;
}

/* footer  */
.logo {
    display: flex;
}

.virticle-bar {
    border-left: 1px solid black;
    height: 150px;
}

.logo p {
    margin: 20px;
    font-weight: 700;
}
.dai {
    width: 40px;
}
.join-btn a {
    text-decoration: none;
    color: white;

}
.join-btn {
  
}
.subscription {

}
.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.406);
    text-align:center;
}
.footer-container {
    
    margin: 100px auto 0;
    padding: 100px;
    letter-spacing: 1.5px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
}
.subscription .subcription-btn {
    outline: none;
    background-color: sienna;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    width: 120px;
    margin-top: 10px;
    border: none;
    font-weight: 700;
}

.email {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid sienna;
}

.others-links ul li {
    list-style-type: none;
    display: inline-block;
    display: inline-block;
    color: black;
    display: inline-block;
    text-decoration: none;
    font-weight: 20px;
}



.others-links li::after{
    content: "";
    border-left: 1px solid black;
    height: 150px;
}